@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-stroke-3 {
  -webkit-text-stroke: 2px #404040;
}

.text-stroke-white-2 {
  -webkit-text-stroke: 2px white;
}

.yellow-fade-in {
  background: rgb(2,0,36);
  background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(255,255,5,1) 0%, rgba(217,217,217,0) 100%);
}

.black-card-fade-down{
  background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}

.card-gradient{
  background: rgb(42,45,49);
background: linear-gradient(0deg, rgba(42,45,49,1) 0%, rgba(6,6,6,0.8) 100%);


}

.card-shadow{
  filter: drop-shadow(0 5px 6px rgba(0, 0, 0, 0.25)) ;
}
.backgroud{
  background: rgb(42,45,49,0.75);
  filter: blur(54);
}

::-webkit-scrollbar {
  display: none;
}